body {
  margin: 0;
  padding: 0;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.pokemon-list-container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.pokemon-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
}

.pokemon-list-header {
  font-size: 2em;
  margin-bottom: 20px;
}

.pokemon-search {
  margin-bottom: 20px;
}

.pokemon-search input {
  margin-right: 30px;
}
